*~
.DS_Store
/__pycache__/
/back-end/__pycache__/
/back-end/venv/
/back-end/save_dir
/front-end/node_modules/
/front-end/build/
/front-end/.ipynb_checkpoints/
/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*
*.zip

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.babelrc
.editorconfig
.postcssrc.js